/* .companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.portfolio-spacer {
  flex: 10px 1 auto;
}
.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}   */

@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

.header-design  {
  background-color: whitesmoke;
}

.intro-container  {
  margin-left: 10%;
  margin-right: 10%;
}

hr {
  margin-bottom: 1rem;
  border: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-design  {
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  /* background: rgba(6, 49, 192, 0.815); */
  z-index: 9999;
  transition: all 1.5s ease;
  
  /* background:linear-gradient(-97deg, white 10%,rgb(0, 190, 255) 100%, rgb(0, 198, 255)); */

}
