<header>
    <div class="container-fluid sticky">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-design" routerLink = ""><i class="fab fa-vuejs fa-3x"></i><span>Vishwanath Arora</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-design" routerLink = "" routerLinkActive="activebutton" style="color:black">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-design" routerLink = "/about" routerLinkActive="activebutton" style="color:black">About</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink = "#">Contact</a>
                </li> -->
              </ul>
            </div>
          </nav>
    </div>
    <hr/>
</header>
<router-outlet></router-outlet>
