<div>
    <!-- style="background-color: white" column: stacking ur children vertically -->
    <div class="container-fluid">

        <div class="row m-4">
            <div class="col-sm-12 col-md-2 col-lg-2 col-lg-offset-2">
                <!-- <div class="about-heading"> About Me </div> -->
                <div class="about-heading"> About Me </div>

            </div>
        </div>

        <div class="row m-5">
            <div class="about-body col-sm-1 col-md-2 col-lg-6 col-lg-offset-2">

               {{basicInfo}}
               <p>{{contactInfo}}</p>
               <p>{{designation}}</p>

            </div>
        </div>
        <div class="row m-5">
            <div class = "col-sm-1 col-md-2 col-lg-2">

                <i class="material-icons md-24">mail</i>
                
             </div>
             <div class = "mail-body col-sm-1 col-md-1 col-lg-3">

                {{ mail }}
                
            </div> 

        </div>
        <div class="w-100"></div>
    </div>
    <div class="container-fluid">
        <div class="row m-5">
    
            <div class = "col-sm-1 col-md-2 col-lg-2">
    
                <i class="material-icons md-24">location_on</i>
                
            </div>
            <div class = "about-body col-sm-1 col-md-1 col-lg-3">
    
                {{ location }}
            
            </div>
    
        </div> 
    
    </div> 
</div>

