<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<!-- d-flex flex-row justify-content-center flex-wrap -->
<app-header></app-header>
<main>
    <!-- <section class="section-1" style=" margin-top:8%">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1">
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Javascript.svg" alt = "Javascript" width="60%" height="60%">
                    <h1>JavaScript</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Angular.png" alt = "Angular" width="60%" height="60%">
                    <h1>Angular</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Html.svg" alt = "Javascript" width="60%" height="60%">
                    <h1>HTML</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Css.svg" alt = "Javascript" width="60%" height="60%">
                    <h1>CSS</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/typescript.png" alt = "Javascript" width="60%" height="60%">
                    <h1>TypeScript</h1>
                </div>
                <div class="col-md-1 col-sm-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1">
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/nodejs.png" alt = "Node.js" width="80%" height="60%">
                    <h1>Node.js</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/tsnode.svg" alt = "Tsnode" width="60%" height="60%">
                    <h1>TSNode</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/expressjs.png" alt = "Express" width="60%" height="60%">
                    <h1>Express</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Php.svg" alt = "Php" width="60%" height="60%">
                    <h1>PHP</h1>
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Python.svg" alt = "Python" width="60%" height="60%">
                    <h1>Python</h1>

                </div>
                <div class="col-md-1 col-sm-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-1">
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Mongodb.svg" alt = "MongoDB" width="60%" height="60%">
                    <h1>MongoDB</h1>
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/Mysql.svg" alt = "MySQL" width="60%" height="60%">
                    <h1>MySQL</h1>
                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/microservices.png" alt = "Microservices" width="80%" height="60%">
                    <h1>Microservices</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/docker.png" alt = "Docker" width="60%" height="60%">
                    <h1>Docker</h1>

                </div>
                <div class="col-md-2 col-sm-5">
                    <img src = "assets/skills/git.png" alt = "Git" width="60%" height="60%">
                    <h1>Git</h1>
                </div>
                <div class="col-md-1 col-sm-1">
                </div>
            </div>
        </div>
    </section> -->
    <section class="section-1 section-2-design" style="margin-top:8%">
        <div class="container-fluid text-center intro-container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>
                        I'm Vishwanath Arora
                    </h1>
                    <p>
                        A self-taught Full stack developer, Software Engineer, and a Blogger.
                        I love building software that solves real-world problems, 
                        add value to society through technology.
                    </p>
                    <button class="btn btn-light">View Resume</button>
                </div>
            </div>
    
        </div>
    </section>
    <section class="section-1 section-2-design" style=" margin-top:8%">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Skills</h1>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="col-12 col-md-2 col-sm-6">
                    <!-- <h1>JavaScript</h1> -->
                    <img src = "assets/skills/Javascript.svg" alt = "Javascript" class="img-fluid">
                    <h1>JavaScript</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/typescript.png" alt = "Typescript" class="img-fluid">
                    <h1>TypeScript</h1>
                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Angular.png" alt = "Angular" class="img-fluid">
                    <h1>Angular</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Html.svg" alt = "Html" class="img-fluid">
                    <h1>HTML</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Css.svg" alt = "Css" class="img-fluid">
                    <h1>CSS</h1>

                </div>
            </div>
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="col-12 col-md-2 col-sm-6">
                    <!-- <h1>JavaScript</h1> -->
                    <img src = "assets/skills/nodejs.png" alt = "Node.js" width="60%" height="60%">
                    <h1>Node.js</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/tsnode.svg" alt = "Tsnode" width="60%" height="60%">
                    <h1>TSNode</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/expressjs.png" alt = "Express" width="60%" height="60%">
                    <h1>Express</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Php.svg" alt = "Php" width="60%" height="60%">
                    <h1>PHP</h1>
                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Python.svg" alt = "Python" width="60%" height="60%">
                    <h1>Python</h1>

                </div>
            </div>
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Mongodb.svg" alt = "MongoDB" width="60%" height="60%">
                    <h1>MongoDB</h1>
                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/Mysql.svg" alt = "MySQL" width="60%" height="60%">
                    <h1>MySQL</h1>
                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <!-- <h1>JavaScript</h1> -->
                    <img src = "assets/skills/microservices.png" alt = "Microservices" width="80%" height="60%">
                    <h1>Microservices</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/docker.png" alt = "Docker" width="60%" height="60%">
                    <h1>Docker</h1>

                </div>
                <div class="col-12 col-md-2 col-sm-6">
                    <img src = "assets/skills/git.png" alt = "Git" width="60%" height="60%">
                    <h1>Git</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section-1 section-2-design">
        <div class="container-fluid text-center">
          <h1 class="text-dark">Testimonials</h1>
        </div>
        <div class="row" *ngIf = "isSmallScreen()">
            <div class="col-sm-12 col-12 testimonials-design" style="border: 12px !important;">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <!-- {{currentTestimonial.comments}} -->

                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <p>{{currentTestimonial.comments}}</p>
                        <!-- <img class="d-block w-100" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="First slide"> -->
                      </div>
                      <!-- <div class="carousel-item">
                        <p style="font-size: 22px;">
                            {{review.comments}}
                            </p>
                      </div>
                      <div class="carousel-item">
                        <p style="font-size: 22px;">
                            {{review.comments}}
                        </p>
                      </div> -->
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" (click) = "prevCarousel()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" (click) = "nextCarousel()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
        <!-- <div class="row" *ngIf = "!isSmallScreen()">
            <div class="col-md-4 testimonials-design" style="border: 12px !important;" *ngFor = "let review of reviews">
                    <mat-card class="example-card">
                        <mat-card-header style="text-align: center;">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{review.designation}}</mat-card-title>
                        <mat-card-subtitle>{{review.name}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p style = "font-size: 17px;">
                            {{review.comments}}
                        </p>
                        </mat-card-content>
                        <mat-card-actions> 
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                        </mat-card-actions> 
                    </mat-card>
                </div>
        </div> -->
        <div class="row" *ngIf = "!isSmallScreen()">
            <div class="col-md-4 testimonials-design" *ngFor = "let review of reviews">
                    <mat-card class="mat-card-design">
                        <mat-card-content>
                        <p style = "font-size: 17px;">
                            "{{review.comments}}"
                        </p>
                        </mat-card-content>
                        <mat-card-header style="text-align: center;">
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{review.designation}}</mat-card-title>
                            <mat-card-subtitle>{{review.name}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
        </div>
      </section>
</main>
<app-footer></app-footer>
<!-- have to fix mobile css issue of footer -->
<!-- <app-about></app-about> -->
<!-- <mat-card-actions> 
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    </mat-card-actions>  -->


